img{
  width: 200px;
  text-align: center;
}

#banner{
  text-align: center;
}


#titulo{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: bold ;
}

#labelInput{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold ;
  font-style: italic;
}

#inputAlarm{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#formulario{
  width: 25%;
}

#buttonsLogin{
  text-align: center;
}

#buttonIngress{
  background-color: rgb(107, 237, 92);
  margin-right: 20px;
  border-radius: 15px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold ;
}

#buttonRegister{
  background-color: rgb(116, 195, 214);
  border-radius: 15px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold ;
}

#buttonCancel{
  background-color: rgb(250, 65, 10);
  border-radius: 15px;
  margin-right: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold ;
}




