<br>

<div id="texture">
<div>
  <h1 id="titulo">Alarm Event</h1>
</div>
<br>
<div class="container" id="banner">
  <img src="../../../assets/images/reloj.png"/>
</div>
<br>
<br>
</div>



<div class="container " id="formulario" >

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" id="labelInput">Correo:</label>
    <input type="email" class="form-control" id="inputAlarm" aria-describedby="emailHelp" placeholder="Escriba su correo">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" id="labelInput">Contraseña:</label>
    <input type="password" class="form-control" id="inputAlarm" aria-describedby="emailHelp" placeholder="Escriba su contraseña">
  </div>

  <div class="container" id="buttonsLogin">
    <button mat-raised-button id="buttonIngress" routerLink="dashboard">
      <mat-icon>
        check_circle
      </mat-icon>
      Ingresar
    </button>
    <button mat-raised-button id="buttonRegister" routerLink="registro">
      <mat-icon>
        how_to_reg
      </mat-icon>
      Registrarse
    </button>
  </div>


</div>
